<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wqz.model.sbmm.busproject.mapper.VwAbcMapper">
  <resultMap id="BaseResultMap" type="wqz.model.sbmm.busproject.model.VwAbc">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="pk1" jdbcType="VARCHAR" property="pk1" />
    <result column="pk2" jdbcType="VARCHAR" property="pk2" />
  </resultMap>
</mapper>